@tailwind base;
@tailwind components;
@tailwind utilities;

/* NumberInput.css */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-arrows {
    -moz-appearance: textfield; /* Firefox */
}

/* styles/globals.css */
.toast {
    background-color: white !important;
    color: black !important;
    font-size: 15px;
    border: 1px solid #000000;
    border-radius: 20px; 
    padding: 10pl;
}